<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DetailTodo</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
  <div class="menu-road">
    <div class="container text-center py-3 m-5">
      <div class="row">
        <div class="col">
          <h4 class="find-block mb-3">Detail Task</h4>
          <p class="text-table">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid voluptatum sint
            perferendis accusantium suscipit aut dolorum perspiciatis laboriosam blanditiis
            sed quis deleniti aperiam, magnam laudantium? Soluta quas praesentium magni laboriosam.
          </p>
          <p class="text-table">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid voluptatum sint
            perferendis aquas praesentium magni laboriosam.
          </p>
          <button type="button" class="btn btn-outline-secondary">More</button>
        </div>
      </div>
    </div>
  </div>
</body>
</html>