<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ListTodo</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <div class="posterite-block py-5">
      <div class="container">
        <h3 class="heading-text posterite-heading text-center py-3 mb-5">TodoList</h3>
        <div class="row no-gutters mt-5">
            <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
              <div class="card-header">Task</div>
              <div class="card-body">
                <h5 class="card-title">Primary card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
            </div>

            <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
              <div class="card-header">Task</div>
              <div class="card-body">
                <h5 class="card-title">Secondary card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
            </div>

            <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
              <div class="card-header">Task</div>
              <div class="card-body">
                <h5 class="card-title">Success card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
            </div>

            <div class="card text-white bg-danger mb-3" style="max-width: 18rem;">
              <div class="card-header">Task</div>
              <div class="card-body">
                <h5 class="card-title">Danger card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
            </div>

            <div class="card text-dark bg-warning mb-3" style="max-width: 18rem;">
              <div class="card-header">Task</div>
              <div class="card-body">
                <h5 class="card-title">Warning card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
            </div>

            <div class="card text-dark bg-info mb-3" style="max-width: 18rem;">
              <div class="card-header">Task</div>
              <div class="card-body">
                <h5 class="card-title">Info card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
            </div>

            <div class="card text-dark bg-light mb-3" style="max-width: 18rem;">
              <div class="card-header">Task</div>
              <div class="card-body">
                <h5 class="card-title">Light card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
            </div>

            <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
              <div class="card-header">Task</div>
              <div class="card-body">
                <h5 class="card-title">Dark card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
            </div>

        </div>
      </div>
    </div>
</body>
</html>